/*
 * Copyright (c) 2020 Ryan Cross
 *
 * SPDX-License-Identifier: MIT
 */

#include "sofle.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 10 GPIO_ACTIVE_HIGH>
        ;
};

&left_encoder {
    status = "okay";
};

{
    chosen {
        zmk,underglow = &underglow;
    };
};

&spi1 {
    status = "okay";

    underglow: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        label = "WS2812";
        spi-max-frequency = <4000000>;
        chain-length = <7>;     // Jumlah LED strip
        rgbw = <false>;
    };
};

&gpio0 {
    status = "okay";
};

&spi1 {
    cs-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>; // P0.15 sebagai chip select (data)
};
